{:company/legal-name "ORLEN SPÓŁKA AKCYJNA"
 :company/lei "259400VVMM70CQREJT74"
 :company/jurisdiction "PL"
 :company/legal-name-transliterated "ORLEN SPOLKA AKCYJNA"
 :company/website "https://www.orlen.pl/pl"
 :company/inquiry-form-url "https://www.orlen.pl/pl/kontakt/dla-biznesu"}
